<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <ui> <!--Needed to load the XML Control for More link and History Link-->
      <usings>
        <using patch:before="*[1]" mode="on">CWC.Workflow</using>
      </usings>
      <references>
        <reference  patch:before="*[1]"  mode="on">/bin/CWC.dll</reference>
      </references>
    </ui>
    <contentSearch> <!--Add fields to be indexed since single text field indexing is disabled by default-->
      <configuration type="Sitecore.ContentSearch.LuceneProvider.LuceneSearchConfiguration, Sitecore.ContentSearch.LuceneProvider">
        <defaultIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider" patch:source="Sitecore.ContentSearch.Lucene.DefaultIndexConfiguration.config">
          <fields hint="raw:AddCustomField" patch:source="Sitecore.ContentSearch.Lucene.DefaultIndexConfiguration.config">
            <field luceneName="WorkflowItemID" storageType="yes" indexType="UN_TOKENIZED"  type="System.String">Workflow Item ID</field>
            <field luceneName="Language" storageType="yes" indexType="UN_TOKENIZED"  type="System.String">Language</field>
            <field luceneName="Version" storageType="yes" indexType="UN_TOKENIZED"  type="System.String">Version</field>
          </fields>
        </defaultIndexConfiguration>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>



